.contact-form-container{
    width:80vw;
    display:flex;
    justify-content:center;

}
.mat-raised-button .form-button {
    color: #FFFF !important;
    background-color: #2393b9 !important;
    padding:1% !important;
    border-radius:5px !important;
}
@media screen and (min-width: 768px) {
    .contact-form-container{
        width:80vw;
        margin-left:2%;
        display:flex;
        justify-content:flex-start;
        align-items: center;
    
    }
    .myform-item{
        width:50vw;
    }
    .wide-input{
        width:40vw;
    }
}