

<div class="badge-container">
  <p>
    These are some of the tools or technologies that I have learned to use, especially when building web applications. I
     have used some of them less, while I have had to make deep and intensive use of others.  
  </p>
  <h3>Languages and Tools:</h3>
  <div class="techset">
    <div class="set-row">
     
        <div class="tech-card" *ngFor="let badge of badgeArray">
            <a [href]="badge.link" target="_blank">
            <div class="badge-title">{{ badge.name }}</div>
            <div class="badge-pic">
            <img [src]="badge.source" alt="techpic" width="60" height="60" />
            </div>
            </a>
        </div>
      
    </div>
  </div>
</div>

       
    

