
<div class="bio-card-container">
    <div class="avatar-pic-container">
        <img class="avatar-image"
        src="https://avatars.githubusercontent.com/u/102178692?v=4" 
        alt="avatarpic" 
        width="250" height="250" />
    </div>
    <div class="text-container">
        <span class="my-text">
            Wellcome to my site, please feel free to browse about the different areas. You can begin reading something 
            <a routerLink="about_me"><u>about me.</u></a>            
        </span>
    </div>  
</div>
