.social-media-container{
    margin:1%;
    width:30vw;
    margin-right: 2%;
}
.linkedin, .instagram, .twitter{
    margin:20px 20px;
}
@media screen and (min-width: 768px) {
    .linkedin, .instagram, .twitter{
        margin:0 50% 15%;
    }}