.social-media-container{
    margin:1%;
    width:20vw;
}
.linkedin, .instagram, .twitter{
    margin:35%;
}
@media screen and (min-width: 768px) {
    .linkedin, .instagram, .twitter{
        margin:0 50% 15%;
    }}