.about-me-container{
    width:98vw;
    margin:1.5%;
    
}
.paragraph{
    width:98vw;
}
@media screen and (min-width: 768px) {
    .about-me-container{
        width:80vw;
        height:50vh;
        margin:10% auto;
        background-color: #2393BC;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .paragraph{
        margin:10% auto;
        width:75%;
        font-size: 25px;
        padding:1%;
        background-color: #FFFF;
    }
}