<div class="about-me-container">
    <p class="paragraph">
        I am looking for an original and different software development company
        because I also consider myself different. I am a web developer with a passion for 
        turning coffe into code and solving problems with a keyboard and Google. 
        I have always been interested in web development and I have been continuosly 
        learning and improving my skills in the past years. 
        I am a family man with an unbelievable wife and two wonderful children as well. 
        I have a proven career in the Procurement and Supply Chain sector, 
        as well as in commercial banking in my early carreer, but What I really like 
        is to bring out my creative side out as a Software Developer and that is why I am currently 
        rethinking my career objectives towards the Tech world in general and Software Development 
        in particular. Just after the pandemic, I decided to return to web development and focus on 
        learning several new technologies. Baceuse of this, I am looking to join a team 
        where I can learn, progress and establish myself as an important member. I really want to advance 
        and progress and I can bring experience in many areas, as I mentioned at the beginning, 
        I am not the same as the others, I am different. 
        Do you think It could fit with you? Let's talk.
    </p>
</div>

